/**** Home ****/
.home_hero {
	padding: 30px;
}

.home_feature {
	text-align: center;
	padding-top: 30px;
}

.home_feature a {
	color: #444;
	text-decoration: none;
}

.home_feature h2 {
	padding-top: 50px;
}

.home_feature_icon {
	font-size: 180px;
	cursor: pointer;
}

@media ( max-width : 979px) {
	.home_feature_icon {
		font-size: 90px;
	}
	.home_feature h2 {
		padding-top: 10px;
	}
}

/**** Shared ****/
.rx_form {
	width: 480px;
}

.rx_form div {
	width: 80px;
	height: 45px;
	font-size: 1.5em;
	float: left;
}

.rx_form input[type=text] {
	width: 60px;
	font-size: 1em;
}

@media ( min-width : 979px) {
	body {
		padding-top: 60px;
	}
}