<style>
	#rxform {
		width: 500px;
	}
	.rx_row {
		margin-bottom: 3px;
	}
	.rx_row div, .rx_col {
		float:left;
		width:66px;
	}
	.rx_row div:first-child, .rx_col:first-child {
		width:45px;
	}
	.rx_box, .rx_select {
		width:50px;
		font-size: 1.5em;
		padding: 5px;
	}
	.rx_select {
		width:160px;
		text-align: left;
		padding: 2px;
	}
	.rx_label {
		font-weight: bold;
		font-size: 1.5em;
	}
	.rx_label_long {
		font-weight: bold;
		font-size: 1.5em;
		width:150px;
		float:left;
		height:34px;
	}
	.rx_checkbox {
		margin-top:10px;
	}
</style>

<div id="rxform" class="clearfix">
	<div class="clearfix">
		<div class="rx_label rx_col">&nbsp;</div>
		<div class="rx_label rx_col">Sph</div>
		<div class="rx_label rx_col">Cyl</div>
		<div class="rx_label rx_col">Axis</div>
		<div class="rx_label rx_col">Add</div>
	</div>
	<div class="rx_row clearfix">
		<div><div class="rx_label">OD:</div><div style="font-size:10px;">(Right)</div></div>
		<div><input name="OD_Spherical" type="number" class="rx_box" min="-20" max="20" step="0.25" /></div>
		<div><input name="OD_Cylindrical" type="number" class="rx_box" min="-20" max="0" step="0.25" /></div>
		<div><input name="OD_Axis" type="number" class="rx_box" min="0" max="180" /></div>
		<div><input name="OD_Add" type="number" class="rx_box" min="0" max="20" step="0.25" /></div>
	</div>
	<div class="rx_row clearfix">
		<div><div class="rx_label">OS:</div><div style="font-size:10px;">(Left)</div></div>
		<div><input name="OS_Spherical" type="number" class="rx_box" min="-20" max="20" step="0.25" /></div>
		<div><input name="OS_Cylindrical" type="number" class="rx_box" min="-20" max="0" step="0.25" /></div>
		<div><input name="OS_Axis" type="number" class="rx_box" min="0" max="180" /></div>
		<div><input name="OS_Add" type="number" class="rx_box" min="0" max="20" step="0.25" /></div>
	</div>
	<div class="clearfix">
		<div class="rx_label_long">Sunglasses:</div>
		<div><input name="Sunglasses" type="checkbox" class="rx_checkbox" /></div>
	</div>
	<div class="clearfix">
		<div class="rx_label_long">Gender:</div>
		<div><select name="Gender" class="rx_select"><option value="U">Unspecified</option><option value="M">Male</option><option value="F">Female</option><option value="N">Neutral</option></select></div>
	</div>
	<div class="clearfix">
		<div class="rx_label_long">Size:</div>
		<div><select name="Size" class="rx_select"><option value="U">Unspecified</option><option value="S">Small</option><option value="M">Medium</option><option value="L">Large</option></select></div>
	</div>
</div>
