<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-question-sign"></i> Help
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Popup Help</a></li>
        <li class="divider"></li>
        <li><a href="/help/how">How do I ...?</a></li>
        <li class="divider"></li>
        <li><a href="/help/video">Videos (internet required)</a></li>
        <li class="divider"></li>
        <li><a href="/help/optobasics">Optometry Basics</a></li>
        <li class="divider"></li>
        <li><a href="/help/workflow">Workflow</a></li>
        <li class="divider"></li>
        <li>@Html.ActionLink("About", "About", "Pages")</li>
    </ul>
</div>