@model Vision.Models.GlassesBatch[]

@{
    ViewBag.Title = "Batches";
}

<h2>Batches</h2>

<table>
<thead>
    <tr>
        <th></th>
        <th>Batch #</th>
        <th>Call Numbers</th>
    </tr>
</thead>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink("Export", "ExportBatches", new { id= item.GlassesBatchID})</td>
        <td>@item.GlassesBatchID</td>
        <td>@item.CallNumbers</td>
    </tr>
}
</table>