@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<p>@Html.ActionLink("Insertion History", "InsertionHistory")</p>

<p>@Html.ActionLink("Removal History", "RemovalHistory")</p>

<p>@Html.ActionLink("Batch Label Printing", "Batches")</p>