@{
	ViewBag.Title = "Search";
}

<div style="float:left;width:300px;">
    <h2>Search by:</h2>
    <h3>
    <label><input type="radio" name="searchType" value="rx" checked="checked" /> RX</label>
    <label><input type="radio" name="searchType" value="callnum" /> Call #</label>
    </h3>
</div>

<div style="float:left;">
    @Html.Partial("RxForm")
    <div id="callnumsearchform" class="clearfix hidden">
	    <div class="rx_label">Group:</div>
	    <div><input id="group" name="Group" type="number" class="rx_box" /></div>
	    <div class="rx_label">Number:</div>
	    <div><input id="number" name="Number" type="number" class="rx_box" /></div>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="centered">
	<a href="#" id="submit" class="button big play">Search</a>
	<a href="#" id="clear" class="button big delete">Clear</a>
</div>
<div class="clearfix">&nbsp;</div>

<h3 id="searchWaiting" class="hidden centered"><img src="/img/spinner.gif" alt="waiting..." /> Searching....</h3>
<h3 id="errorMsg" class="hidden centered" style="border: 3px solid #f00">Cannot complete search. Is the network connection down?</h3>

<table>
	<thead>
		<tr>
			<th>Score</th>
			<th>Call #</th>
			<th>OD Sph</th>
			<th>OD Cyl</th>
			<th>OD Axis</th>
			<th>OD Add</th>
			<th>OS Sph</th>
			<th>OS Cyl</th>
			<th>OS Axis</th>
			<th>OS Add</th>
			<th>Sungl.</th>
			<th>Gender</th>
			<th>Size</th>
		</tr>
	</thead> 
	<tbody id="rxList"></tbody> 
</table> 

<script src="/js/search.js" type="text/javascript"></script>
<script id="rxTemplate" type="text/x-jquery-tmpl">
<tr class="resultRow">
<td>${MatchScore}</td>
<td class="group">${Glasses.Group}/${Glasses.Number}</td>
<td class="resultRowCol">${sphCylFormat(Glasses.OD_Spherical)}</td>
<td>${sphCylFormat(Glasses.OD_Cylindrical)}</td>
<td>${axisFormat(Glasses.OD_Axis)}</td>
<td>${sphCylFormat(Glasses.OD_Add)}</td>
<td class="resultRowCol">${sphCylFormat(Glasses.OS_Spherical)}</td>
<td>${sphCylFormat(Glasses.OS_Cylindrical)}</td>
<td>${axisFormat(Glasses.OS_Axis)}</td>
<td>${sphCylFormat(Glasses.OS_Add)}</td>
<td class="resultRowCol">${Glasses.Sunglasses?'Y':'N'}</td>
<td>${Glasses.Gender}</td>
<td>${Glasses.Size}</td>
</tr>
</script>
<div id="action" style="display:none; cursor: default"> 
    <h1>What would you like to do with <span id="actionCallNum"></span>?</h1>
    <p>
    <b>Remove</b> will remove these from the inventory (and log in the history). This is for a pair of glasses that has been distributed (or thrown away).
    </p>
    <p>
    <b>Edit</b> will give you the option to edit any the glasses if something was entered incorrectly.
    </p>
    <p>
    <b>Do Nothing</b> is the option to close this if you clicked it by accident or would just like to go back.
    </p>
    <a href="#" id="remove" class="button big delete">Remove</a>
	<a href="#" id="edit" class="button big edit">Edit</a>
    <a href="#" id="doNothing" class="button big next">Do Nothing</a>
</div> 