<h1>Add Glasses To Inventory</h1>
<div id="add_features" class="row">
	<div class="span4 home_feature">
		<i id="newBatchFeatureIcon" class="icon-star home_feature_icon"></i>
		<h2>New Batch</h2>
		<p>Start a new batch.</p>
	</div>
	<div class="span4 home_feature">
		<i id="loadBatchFeatureIcon"
			class="icon-folder-open home_feature_icon"></i>
		<h2>Continue Batch</h2>
		<p>This is if you need to resume a batch. You can revisit old
			batches with this but be careful if labels have already been printed.</p>
	</div>
	<div class="span4 home_feature">
		<a href="#help"><i class="icon-question-sign home_feature_icon"></i></a>
		<h2>New Here?</h2>
		<p>For first time users (or those who need a refresher),
			instructions can be found here.</p>
	</div>
</div>

<div id="newBatchModal" class="modal hide fade">
	<div class="modal-body">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3>Let's get started!</h3>
		<p>
			Thanks for starting a new batch. This new batch is:
		</p>
		<h1 id="newBatchId" class="pagination-centered"></h1>
		<p>Please mark this on your container holding the glasses. Enter the data for 
			40 pairs of glasses into the next screen and when you are done, pass the 
			box off for label printing.</p>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn btn-primary">Let's Go!</a>
	</div>
</div>

<div id="loadBatchModal" class="modal hide fade">
	<div class="modal-body">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3>Load Batch Number:</h3>
		<input id="loadBatchId" type="text" class="text span1" />
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Close</a> 
		<a id="loadBatchButton" href="#" data-dismiss="modal" class="btn btn-primary">Load</a>
	</div>
</div>


<div id="addGlassesForm" class="hide">
	<hr />
	
	<div class="row">
		<div id="rxformDiv" class="span5">
			<form id="rxform"></form>
			<button id="addButton" class="btn btn-primary btn-large icon-plus"> Add Glasses</button>
		</div>
		<div id="finished" class="span5 hide">
			<h1>You're finished!</h1>
			<p>Thanks for finishing this batch. Please pass this batch along to the person
			who is printing labels</p>
			<button id="restart" class="btn btn-large btn-primary">Start a new batch</button>
		</div>
		
		<div class="span4 thumbnail" style="padding:0 20px;">	
			<h2>This is batch #<span id="batchId"></span></h2>
			<h4>Current Progress: <span id="progressCount">0</span>/40</h4>
			<div class="progress progress-striped">
		  		<div id="progressBar" class="bar" style="width: 0%;"></div>
		  	</div>
		</div>
	</div>
	
	<hr />
	
	<div id="log" class="row"></div>
</div>

<div id="editModal" class="modal hide fade">
	<div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Edit Glasses Call Number: <span id="editModalCallNum"></span></h3>
		<div id="editModalRxForm"></div>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Close</a> 
		<a id="editModalSave" href="#" data-dismiss="modal" class="btn btn-primary">Save</a>
	</div>
</div>

<script type="text/javascript">
	var sphcylFormat = function (val) {
		return (val >= 0 ? '+' : '') + val.toFixed(2);
	};
	
	var axisFormat = function(val) {
		if (val >= 100)
			return val.toString();
		else if (val >= 10)
			return '0' + val.toString();
		else
			return '00' + val.toString();
	};
</script>

<script type="text/html" id="glasses-tpl">
<div class="span3 hide">
	<div class="well">
	<h4>Call Number: <%= Group %>/<%= Number %></h4>
	<table class="table table-condensed">
		<tr><td>&nbsp;</td><td>Sph</td><td>Cyl</td><td>Axis</td><td>Add</td></tr>
		<tr><td>OD:</td><td><%= sphcylFormat(OD_Spherical) %></td>
			<% if(OD_Cylindrical === 0 && OD_Axis === 0 && OD_Add === 0) { %>
			<td colspan="3"><div class="pagination-centered">DS</div></td>
			<% } else { %>
			<td><%= sphcylFormat(OD_Cylindrical) %></td><td><%= axisFormat(OD_Axis) %></td><td><%= sphcylFormat(OD_Add) %></td>
			<% } %>
		</tr>
		<tr><td>OS:</td><td><%= sphcylFormat(OS_Spherical) %></td>
			<% if(OS_Cylindrical === 0 && OS_Axis === 0 && OS_Add === 0) { %>
			<td colspan="3"><div class="pagination-centered">DS</div></td>
			<% } else { %>
			<td><%= sphcylFormat(OS_Cylindrical) %></td><td><%= axisFormat(OS_Axis) %></td><td><%= sphcylFormat(OS_Add) %></td>
			<% } %>
		</tr>
	</table>
	<a href="#" class="editGlasses">[ Edit ]</a>
	</div>
</div>
</script>

