<div>
	<div id="rxFormShorcuts">
	<h2>Keyboard shortcuts</h2>
	<table class="table table-condensed">
	<thead>
		<tr><th>Keystroke</th><th>Description</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>&lt;tab&gt;</td>
			<td>Move to the next input box</td>
		</tr>
		<tr>
			<td><i class="icon-arrow-up"></i> (Up arrow)</td>
			<td>Increment box by a small step (+0.5 for spherical, cylindrical and add. +5 for axis)</td>
		</tr>
		<tr>
			<td>Shift + <i class="icon-arrow-up"></i> (Shift + Up arrow)</td>
			<td>Increment box by a large step (+1 for spherical, cylindrical and add. +10 for axis)</td>
		</tr>
		<tr>
			<td><i class="icon-arrow-down"></i> (Down arrow)</td>
			<td>Decrement box by a small step (-0.5 for spherical, cylindrical and add. -5 for axis)</td>
		</tr>
		<tr>
			<td>Shift + <i class="icon-arrow-down"></i> (Shift + Down arrow)</td>
			<td>Decrement box by a large step (-1 for spherical, cylindrical and add. -10 for axis)</td>
		</tr>
	</tbody>
	</table>
	</div>
</div>