@{
    ViewBag.Title = "Add";
}
<script type="text/javascript">
    var currentProgress = 0;
    var totalCount = 40;

    var autoFillEmpty = function () {
        $('.rx_form input[type=text]').each(function (index) {
            if (this.value === '') {
                this.value = '0';
                $(this).change();
            }
        });
    };
    var clearForm = function () {
        $('.rx_form input[type=text]').each(function (index) { this.value = ''; });
        $('.rx_form input[type=checkbox]').each(function (index) { this.checked = false; });
    };

    $(document).ready(function () {
        $('input.sph').rxForm();
        $('input.cyl').rxForm({ min: -20, max: 0 });
        $('input.axis').rxForm({ min: 0, max: 180, littleStep: 5, bigStep: 10, beforeDecimal: 3, afterDecimal: 0, autoDecimal: 999 });
        $('input.add').rxForm({ min: 0, max: 20 });

        $('#totalText').text(totalCount);

        $('#addButton').click(function () {
            $('#addButton').attr('disabled', 'disabled');
            $('#addingMessage').show();
            autoFillEmpty();

            $.post('/Glasses/Add', $('.rx_form input').serializeArray(), function (data) {
                $('#addingMessage').hide();

                currentProgress++;
                $('#batchProgress').css('width', (100 * currentProgress / totalCount) + '%');
                $('#progressText').text(currentProgress);
                $("#glassesAdded").tmpl(data).prependTo("#log").fadeTo(0, 0).fadeTo(1000, 1.0);
                clearForm();

                if (currentProgress === totalCount) {
                    $('#doneMessage').slideDown();
                    $('#rxForm').slideUp();
                } else {
                    $('#addButton').removeAttr('disabled');
                }
            });
        });

        $('#clearButton').click(clearForm);

        $('#nextBatchButton').click(function () {
            $('#addButton').removeAttr('disabled');
            $('#doneMessage').slideUp();
            $('#rxForm').slideDown();
            $('#log').fadeOut(function () {
                $('#log').empty();
                $('#log').show();
            });
            $('#batchProgress').css('width', '0%');
            currentProgress = 0;
        });
    });
</script>

<h1>Add</h1>

<div id="rxForm">
    <div class="row-fluid">
        <div class="span12">
            @Html.Partial("_RxForm")
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 new-row">
            <button id="addButton" class="btn btn-large btn-primary"><i class="icon-plus-sign icon-white"></i> Add</button>
            <button id="clearButton" class="btn btn-large">Clear</button> <span id="addingMessage" class="hide"><img src="/img/spinner.gif" /> <strong>Adding...</strong></span>
        </div>
    </div>
</div>
<script id="glassesAdded" type="text/x-jquery-tmpl">
    <div class="span3 well">
        <h3>Call Number: ${Group}/${Number}</h3>
        <table class="table table-condensed glassesAdded">
            <tr>
                <th><a href="javascript:$('#editModal').modal()">[Edit]</a></th>
                <th>Sph</th><th>Cyl</th><th>Axis</th><th>Add</th>
            </tr>
            <tr><td>OD</td>
                <td>${sphcylFormat(OD_Spherical)}</td>
                <td>${sphcylFormat(OD_Cylindrical)}</td>
                <td>${axisFormat(OD_Axis)}</td>
                <td>${sphcylFormat(OD_Add)}</td></tr>
            <tr><td>OS</td>
                <td>${sphcylFormat(OS_Spherical)}</td>
                <td>${sphcylFormat(OS_Cylindrical)}</td>
                <td>${axisFormat(OS_Axis)}</td>
                <td>${sphcylFormat(OS_Add)}</td></tr>
        </table>
    </div>
</script>
<div class="row-fluid">
    <div class="span12">
        <hr />
        <div id="doneMessage" class="alert alert-success hide">
            <h3>You're done!</h3>
            <p>You have completed a full batch. Please pass this batch along.</p>
            <button id="nextBatchButton" class="btn">Start Next Batch »</button>
        </div>
        <h2>Current Progress (<span id="progressText">0</span>/<span id="totalText">40</span>):</h2>
        <div class="progress progress-striped">
            <div id="batchProgress" class="bar" style="width: 0%;">
            </div>
        </div>
    </div>
</div>
<div id="log" class="row-fluid">
</div>

<div id="editModal" class="modal hide fade in">

    <div class="modal-header">
        <h3>Edit</h3>
    </div>
    <div class="modal-body">
        <p>Placeholder</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Save</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
