@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@Html.Partial("_RxForm")
<script type="text/javascript">
$(document).ready(function() {
    $('input.sph').defaultPluginName();
    $('input.cyl').defaultPluginName({ min:-20, max:0 });
    $('input.axis').defaultPluginName({ min:0, max:180, littleStep:5, bigStep: 10, precision:0, autoDecimal:999});
    $('input.add').defaultPluginName({ min: 0, max: 20 });
});
</script>