<div class="rx_form">
    <div>&nbsp;</div><div>Sph</div><div>Cyl</div><div>Axis</div><div>Add</div><div>Blind</div>
    
    <div>OD:<br/><span style="font-size:10px">(Right)</span></div>
    <div><input name="OD_Spherical" type="text" class="sph" /></div>
    <div><input name="OD_Cylindrical" type="text" class="cyl" /></div>
    <div><input name="OD_Axis" type="text" class="axis" /></div>
    <div><input name="OD_Add" type="text" class="add" /></div>
    <div><input name="OD_Blind" type="checkbox"></div>   

    <div>OS:<br/><span style="font-size:10px">(Left)</span></div>
    <div><input name="OS_Spherical" type="text" class="sph" /></div>
    <div><input name="OS_Cylindrical" type="text" class="cyl" /></div>
    <div><input name="OS_Axis" type="text" class="axis" /></div>
    <div><input name="OS_Add" type="text" class="add" /></div>
    <div><input name="OS_Blind" type="checkbox"></div>
</div>
