.rx_form{
    width: 480px;
}
.rx_form div{
    width: 80px;
    height:45px;
    font-size: 1.5em;
    float: left;
}
.rx_form input[type=text]{
    width: 60px;
    font-size: 1em;
}

#searchResults.table tbody tr:hover td {
  background-color: #D1F0FF;
}

td.table-horizontal-break {
  border-left: 1px solid #222222;
}

#log.row-fluid [class*="span"]:nth-child(4n + 1) {
    margin-left: 0;
}

.glassesAdded {
    margin-bottom: 0px;
}

.searchResultRow {
    cursor:pointer;
}

#searchResults td, #searchResults th, #selectedModal td, #selectedModal th {
    text-align:center;
}