@model List<Vision.Models.PullRequest>
@{
    ViewBag.Title = "Pull Requests";
}

<h2>Pull Requests</h2>

<table>
<tr><th>Request ID</th><th>Requested Glasses</th><th>Click when completed</th></tr>
@foreach (var request in Model)
{
    <tr class="requestrow"><td class="pullrequestid">@request.PullRequestID</td><td>@request.Group/@request.Number</td><td><a href="#">Completed</a></td></tr>
}
</table>

<script type="text/javascript">
    $('.requestrow').find('a').click(function (e) {
        e.preventDefault();
        
        var row = $(this).parent().parent();
        $.ajax({
            url: 'pullrequest/remove',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({ pullRequestID: row.find('.pullrequestid').text() }),
            contentType: 'application/json; charset=utf-8',
            success: function (msg) {
                row.hide();
            }
        });
    });
</script>
