<div class="hero-unit home_hero">
	<h1>Vision</h1>
	<p>This is a template for a simple marketing or informational
		website. It includes a large callout called the hero unit and three
		supporting pieces of content. Use it as a starting point to create
		something more unique.</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span4 home_feature">
		<a href="#search"><i class="icon-search home_feature_icon"></i></a>
		<h2>Search</h2>
		<p>Search for glasses by prescription or by call number. Prescription searches
		can be broad or specific.</p>
	</div>
	<div class="span4 home_feature">
		<a href="#add"><i class="icon-plus-sign home_feature_icon"></i></a>
		<h2>Add</h2>
		<p>Makes changes to the inventory here. This section will allow you to add 
		and edit glasses that are currently in the inventory.</p>
	</div>
	<div class="span4 home_feature">
		<a href="#options"><i class="icon-cog home_feature_icon"></i></a>
		<h2>Options</h2>
		<p>Other things go in here like export/import. There are some ideas for additional
		things that go in here too. Stay tuned.</p>
	</div>
</div>